<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script type="text/javascript">
      angular.module('starter', ['ionic'])

        .run(function($ionicPlatform) {
          $ionicPlatform.ready(function() {
            // Hide the accessory bar by default (remove this to show the accessory bar above the keyboard
            // for form inputs)
            if(window.cordova && window.cordova.plugins.Keyboard) {
              cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
            }
            if(window.StatusBar) {
              StatusBar.styleDefault();
            }
          });
        })

        .controller( 'actionsheetCtl',['$scope',function($scope){

          $scope.devList = [
            { text: "HTML5", checked: true },
            { text: "CSS3", checked: false },
            { text: "JavaScript", checked: false }
          ];

          $scope.pushNotificationChange = function() {
            console.log('Push Notification Change', $scope.pushNotification.checked);
          };

          $scope.pushNotification = { checked: true };
          $scope.emailNotification = 'Subscribed';

        }])
</script>
  <body ng-app="starter" ng-controller="actionsheetCtl" >

  <ion-header-bar class="bar-positive">
    <h1 class="title">复选框</h1>
  </ion-header-bar>

  <ion-content>

    <div class="list">

      <ion-checkbox ng-repeat="item in devList"
                    ng-model="item.checked"
                    ng-checked="item.checked">
        {{ item.text }}
      </ion-checkbox>

      <div class="item">
        <pre ng-bind="devList | json"></pre>
      </div>

      <div class="item item-divider">
        Notifications
      </div>

      <ion-checkbox ng-model="pushNotification.checked"
                    ng-change="pushNotificationChange()">
        Push Notifications
      </ion-checkbox>

      <div class="item">
        <pre ng-bind="pushNotification | json"></pre>
      </div>

      <ion-checkbox ng-model="emailNotification"
                    ng-true-value="'Subscribed'"
                    ng-false-value="'Unubscribed'">
        Newsletter
      </ion-checkbox>
      <div class="item">
        <pre ng-bind="emailNotification | json"></pre>
      </div>

    </div>

  </ion-content>

  </body>

  </head>

</html>
